*/coverage/
*/node_modules/
*/.dart_tool/
**.csproj
**.csproj.user
**/obj/
**/bin/
*/.gradle
*/build
*/vendor/
*/.phpunit.result.cache
*/.phpunit.cache/
*/.idea
*/.vscode
*/coverage.out
*/.gradle
**/build
_docs_/